{
  "presets": [
    "razzle/babel"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    ["babel-plugin-styled-components", { "displayName": true }]
  ],
  "env": {
    "production": {
      "plugins": [
        ["babel-plugin-styled-components", { "displayName": false }]
      ]
    }
  }
}
