{
  "presets": [
    "razzle/babel"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    ["babel-plugin-styled-components", { "displayName": true }]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        ["transform-remove-console", { "exclude": [ "error" ] }],
        ["babel-plugin-styled-components", { "displayName": false }]
      ]
    }
  }
}
