{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "PRODUCT": true,
    "PRODUCT_DESCRIPTION": true,
    "GATEWAY_API_SERVICE_URI": true,
    "TASK_MANAGEMENT_TITLE": true
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "prettier",
    "better-styled-components",
    "simple-import-sort",
    "redux-saga"
  ],
  "rules": {
    "prettier/prettier": ["warn", { "singleQuote": true }],
    "simple-import-sort/sort": "warn",
    "no-unused-vars": "warn"
  }
}
