{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier", "better-styled-components", "simple-import-sort", "redux-saga"],
  "rules": {
    "prettier/prettier": ["warn", { "singleQuote": true }],
    "simple-import-sort/sort": "warn",
    "no-underscore-dangle": ["error", { "allow": ["__GLOBALS__", "__PRELOADED_STATE__"] }],
    "react/jsx-no-bind": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": ["error", { "declaration": false, "assignment": false }]
  },
  "overrides": [
    {
      "files": ["*.spec.js", "*.spec.jsx"],
      "globals": {
        "noop": true
      }
    }
  ]
}
